<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "Alan_stasik_zombie001"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>message on warplace</name>

  <description>
      kiling zombie on warplaces
  </description>

  <author href="https://all4always.simdif.com" email="stasik.alan.2009@gmail.com">
      Alan Stasik
  </author>

<icon src="icon.png" />

</widget>
